.logo {
	padding-left: 3rem;
	padding-right: 2.75rem;
	width: 178px;
	height: 100px;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 2.75rem;
}
