.wrapper__tabs__reports {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.wrapper__report__nav {
	display: flex;
	flex-direction: row;
	margin-right: 155px;
	border-bottom: 1px solid #e2dfed;
}

ul.nav {
	width: 60%;
	margin: 0 0 0;
	padding: 0;
	display: flex;
	font-size: 24px;
	color: rgba(71, 65, 104, 0.6);
	@media (max-width: 768px) {
		width: 90%;
	}
}
ul.nav li {
	font-family: Raleway;
	margin-right: 20px;
	padding-bottom: 20px;
	list-style: none;
	cursor: pointer;
	transition: all 0.7s;
}

ul.nav li:hover {
	background: rgba(87, 61, 78, 0.15);
}
ul.nav li.active {
	border-bottom: 1px solid #474168;
	opacity: 1;
	color: #474168;
}
